examples/flows.json
[{"id":"e86e6b5f74a2f02e","type":"inject","z":"c4f78ce3c8cf95b8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":300,"wires":[["d765b4ca17c12a24"]]},{"id":"4919d9283fa26299","type":"inject","z":"c4f78ce3c8cf95b8","name":"Finish","props":[{"p":"kill","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":340,"wires":[["d765b4ca17c12a24"]]},{"id":"079a8d2db88bcead","type":"debug","z":"c4f78ce3c8cf95b8","name":"debug 376","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"875cfb17d3fad222","type":"inject","z":"c4f78ce3c8cf95b8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":600,"wires":[["6dedadddc30c12cf"]]},{"id":"459d68ca93b53dd7","type":"inject","z":"c4f78ce3c8cf95b8","name":"Finish","props":[{"p":"kill","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":640,"wires":[["6dedadddc30c12cf"]]},{"id":"6dedadddc30c12cf","type":"dualshock4_multi","z":"c4f78ce3c8cf95b8","name":"","sleep":"100","x":540,"y":620,"wires":[["26029d109be6c5e4"],["3a3728be2137f3f9"],["214d6916a483aab6"],["6f98612df3bc8a49"],["b3944880e9b22156"],["b11a492c034bc88c"],["a4963a1bd6705022"],["f36f43273d7f0a13"],["eb85189d266d09ec"],["af7dcbf3970eda0b"],["5f206061e85e66dc"],["b4e39a981d7e6f36"],["fa40df9561dd01eb"],["a9db29d3bb4d84f1"],["2ea23bfb431a9b25"],["707f60f37358488e"],["beaf8853d8a6336a"],["491687e929bf13e2"],["a9c8e6a1c75b5d6f"],["850c4c912f9a0281"],["7b6feab38c4365a3"],["3f63f0f073b1e09a"]]},{"id":"d765b4ca17c12a24","type":"dualshock4_single","z":"c4f78ce3c8cf95b8","name":"","sleep":"100","selectedButtons":{"cross":true,"circle":false,"square":false,"triangle":false,"share":false,"ps":false,"options":false,"L3":false,"R3":false,"L1":false,"R1":false,"dpad_up":false,"dpad_down":false,"dpad_left":false,"dpad_right":false,"touchpad":false,"left_stick_x":false,"left_stick_y":false,"right_stick_x":false,"right_stick_y":false,"L2_trigger":false,"R2_trigger":false},"x":540,"y":320,"wires":[["079a8d2db88bcead"]]},{"id":"26029d109be6c5e4","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Cross","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":400,"wires":[]},{"id":"3a3728be2137f3f9","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Circle","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":440,"wires":[]},{"id":"214d6916a483aab6","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Square","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":800,"y":480,"wires":[]},{"id":"6f98612df3bc8a49","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Triangle","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":800,"y":520,"wires":[]},{"id":"5f206061e85e66dc","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":0,"height":0,"name":"","label":"PS","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":800,"wires":[]},{"id":"a4963a1bd6705022","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":0,"height":0,"name":"","label":"Share","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":640,"wires":[]},{"id":"f36f43273d7f0a13","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":0,"height":0,"name":"","label":"Options","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":800,"y":680,"wires":[]},{"id":"eb85189d266d09ec","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"L3","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":720,"wires":[]},{"id":"af7dcbf3970eda0b","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"R3","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":760,"wires":[]},{"id":"b3944880e9b22156","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"L1","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":560,"wires":[]},{"id":"b11a492c034bc88c","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":600,"wires":[]},{"id":"fa40df9561dd01eb","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Up","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":880,"wires":[]},{"id":"2ea23bfb431a9b25","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Down","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":960,"wires":[]},{"id":"707f60f37358488e","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Left","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":1000,"wires":[]},{"id":"a9db29d3bb4d84f1","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":"3","height":"1","name":"","label":"Right","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":790,"y":920,"wires":[]},{"id":"b4e39a981d7e6f36","type":"ui_text","z":"c4f78ce3c8cf95b8","group":"227d3ca77163ce82","order":0,"width":0,"height":0,"name":"","label":"TouchPad","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":800,"y":840,"wires":[]},{"id":"beaf8853d8a6336a","type":"ui_gauge","z":"c4f78ce3c8cf95b8","name":"","group":"62a28eb47ad4b20e","order":6,"width":0,"height":0,"gtype":"compass","title":"Left X","label":"","format":"{{value}}","min":"1","max":"-1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":950,"y":540,"wires":[]},{"id":"491687e929bf13e2","type":"ui_gauge","z":"c4f78ce3c8cf95b8","name":"","group":"62a28eb47ad4b20e","order":6,"width":0,"height":0,"gtype":"compass","title":"Left Y","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":950,"y":580,"wires":[]},{"id":"a9c8e6a1c75b5d6f","type":"ui_gauge","z":"c4f78ce3c8cf95b8","name":"","group":"6e28d9e8ae4ff93d","order":6,"width":0,"height":0,"gtype":"compass","title":"Right X","label":"","format":"{{value}}","min":"1","max":"-1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":620,"wires":[]},{"id":"850c4c912f9a0281","type":"ui_gauge","z":"c4f78ce3c8cf95b8","name":"","group":"6e28d9e8ae4ff93d","order":6,"width":0,"height":0,"gtype":"compass","title":"Right Y","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":660,"wires":[]},{"id":"7b6feab38c4365a3","type":"ui_gauge","z":"c4f78ce3c8cf95b8","name":"","group":"62a28eb47ad4b20e","order":6,"width":0,"height":0,"gtype":"gage","title":"L2","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":950,"y":700,"wires":[]},{"id":"3f63f0f073b1e09a","type":"ui_gauge","z":"c4f78ce3c8cf95b8","name":"","group":"6e28d9e8ae4ff93d","order":6,"width":0,"height":0,"gtype":"gage","title":"R2","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":950,"y":740,"wires":[]},{"id":"c8319b9cf4033286","type":"comment","z":"c4f78ce3c8cf95b8","name":"Please install node-red-dashboard","info":"","x":420,"y":240,"wires":[]},{"id":"227d3ca77163ce82","type":"ui_group","name":"Buttons","tab":"f6642a80f4f5605a","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"62a28eb47ad4b20e","type":"ui_group","name":"Left","tab":"f6642a80f4f5605a","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6e28d9e8ae4ff93d","type":"ui_group","name":"Right","tab":"f6642a80f4f5605a","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f6642a80f4f5605a","type":"ui_tab","name":"Controller","icon":"dashboard","disabled":false,"hidden":false},{"id":"95cd400e72bc6404","type":"global-config","env":[],"modules":{"@background404/node-red-contrib-python-dualshock4":"0.0.3","node-red-dashboard":"3.6.6"}}]